In [ ]:
##while loop

In [2]:
a=1
while a <=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [3]:
#sum up the number till some point

In [4]:
n=int(input("enter your limit"))
starting_point=0
counter=1
while counter<=n:
    starting_point=starting_point+counter
    counter=counter+1
starting_point

enter your limit 5

15

In [5]:
## factorial of number

In [6]:
number=int(input("enter your number"))
factorial=1
while number>0:
    factorial=factorial*number
    number=number-1
factorial

enter your number 5

120

In [8]:
#fibonacci series
#bibonaci series means the last no must be sum of previous two numbwrs

In [17]:
number=int(input("enter the numbers of elements you are loooking for"))
a,b=0,1
counter=0
while counter<number:
    print(a)
    c=a+b
    a=b
    b=c
    counter=counter+1

enter the numbers of elements you are loooking for 5

0
1
1
2
3

In [18]:
#fibonacci series using for loop

In [21]:
a,b=0,1
for i in range(10):
     print(a)
     c=a+b
     a=b
     b=c

0
1
1
2
3
5
8
13
21
34

In [22]:
s="sudh"

In [23]:
s[::-1]

'hdus'

In [25]:
# reverse string using while loop

In [28]:
word=input("enter your string for reversal")
reverse=""
length=len(word)
while length>0:
    reverse=reverse+word[length-1]
    length=length-1
print(reverse)

enter your string for reversal sudh

hdus

In [29]:
# reverse string using for loop

In [30]:
word=input("enter your string for reversal")
reverse=""
length=len(word)
for i in word:
    reverse=reverse+word[length-1]
    length=length-1
print(reverse)

enter your string for reversal sufyan

nayfus

In [31]:
#print tables of numbers

In [1]:
n=int(input("enter your number"))
i=1
while i<=10:
    result=n*i
    print(n,"*",i,"=",result)
    i=i+1

enter your number 15

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [2]:
##while else

In [4]:
n=5
i=1
while i<n:
    print(i)
    i=i+1
else:
    print(' this will be executed when while loop is completed ')

1
2
3
4
 this will be executed when while loop is completed

In [5]:
n=5
i=1
while i<n:
    print(i)
    if i==3:
        break
    i=i+1
    
else:
    print(' this will be executed when while loop is completed ')

1
2
3

In [ ]:
#comprehension

In [8]:
l=[1,2,3,4,45,5]
l1=[]
for i in l:
    l1.append(i**2)
l1

[1, 4, 9, 16, 2025, 25]

In [9]:
##how to write above square of number using comprehension

In [10]:
[i**2 for i in l]

[1, 4, 9, 16, 2025, 25]

In [22]:
##how to write above lisf  of even number using comprehension

In [17]:
[ i for i in l if i %2==0]

[2, 4]

In [18]:
l1=["sudh","pwskills","kumar","datascience"]

In [ ]:
##how to convert list of string in uppercase using comprehension

In [23]:
[i.upper() for i in l1]

['SUDH', 'PWSKILLS', 'KUMAR', 'DATASCIENCE']

In [24]:
## tuple comprehension

In [ ]:
list(i**2for i in l)

[1, 4, 9, 16, 2025, 25]

In [30]:
##set comprehension
##calculate values square in aset

In [31]:

d={"key1":1,"key2":2,"key3":3,"key4":4}

In [32]:
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [34]:
##code to print only keyvalue pair those value is grater than 1
{k:v for k,v in d.items() if v>1}

{'key2': 2, 'key3': 3, 'key4': 4}

In [35]:
##functions 
##function is used to define a function

In [36]:
def test():
    pass

In [38]:
def test1():
    print("this is very first function")

In [39]:
test1()

this is very first function

In [40]:
test(1)+"sudh"

TypeError: test() takes 0 positional arguments but 1 was given

In [41]:
def test2():
    return"this is my very first return"

In [42]:
test2()

'this is my very first return'

In [47]:
test2()+  "sudh"

'this is my very first returnsudh'

In [48]:
def test3():
    return "sudh",23,345.56,[1,2,3,4]

In [49]:
test3()

('sudh', 23, 345.56, [1, 2, 3, 4])

In [50]:
a,b,c,d=test3()

In [51]:
a

'sudh'

In [52]:
b

23

In [53]:
c

345.56

In [54]:
d

[1, 2, 3, 4]

In [55]:
def test4():
    a=5+6/7
    return a

In [57]:
test4()

5.857142857142857

In [58]:
def test5(a,b,c):
    d=a+b/c
    return d

In [60]:
test5(10,5,2)

12.5

In [ ]:
def test6(a,b):
    return

In [62]:
test6(5,6)

11

In [63]:
test6(5,6)

11

In [64]:
test6("sudh","kumar")

'sudhkumar'

In [66]:
test6([1,2,3,4,5],[4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [67]:
l=[1,2,3,4,"sudh",[1,2,3,4,5,6]]

In [68]:
##function to create a list from list to segregate data of diffrent types diffrence types

In [73]:
l1=[]
for i in l:
    if type(i) ==int or type(i)==float:
        l1.append(i)

In [74]:
l1

[1, 2, 3, 4]

In [76]:
def test7(l):
    l1=[]
    for i in l:
        if type(i) ==int or type(i)==float:
            l1.append(i)
    return l1

In [77]:
l1

[1, 2, 3, 4]

In [80]:
test7(l)

[1, 2, 3, 4]

In [83]:
#checl list in list also and print integers or float from original big list

In [88]:
def test8(a):
    l=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [89]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [90]:
l

[1, 2, 3, 4, 'sudh', [1, 2, 3, 4, 5, 6]]

In [92]:
##how to pass information in function on what function does using shift +tab

In [96]:
def test9(a):
    """this is my function to extract number data from list """
    l=[]
    for i in a :
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [98]:
test9(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [101]:
#how to pass n of arguments in function using "*"

In [100]:
def test10(a,b):
    return a+b

In [107]:
def test11(*args):
    return args

In [108]:
test11()

()

In [109]:
type(test11())

tuple

In [110]:
test11(1,2,3)

(1, 2, 3)

In [111]:
test11(1,2,3,"sudh","kumar",[1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [115]:
def test12(*sudh):
    return sudh

In [116]:
test12(1,2,34,4)

(1, 2, 34, 4)

In [117]:
def test13(*args,a):
    return args ,a

In [118]:
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [120]:
def test13(*args,a):
    return args ,a

In [121]:
test13(1,2,3,4,a=25)

((1, 2, 3, 4), 25)

In [124]:
def test14(c,d,a=23,b=1):
    return a,b,c,d

In [125]:
test14(3,4)

(23, 1, 3, 4)

In [126]:
test14(2,5,a=2342)

(2342, 1, 2, 5)

In [1]:
##key args by using **. this will give arg in form of key value pairs

In [2]:
def test15(**kwargs):
    return kwargs

In [3]:
test15()

{}

In [4]:
type(test15())

dict

In [5]:
test15(a=[1,2,3,4],b="sudh",c=23.45)

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}